.footer {
	position: absolute;
	bottom: auto;
	width: 100%;
	min-width: 980px;
	height: 130px;
}

.footer-links-div {
	width: 215px;
   position: absolute;
   left: 335px;
   height: 34px;
   margin-left: calc((100% - 980px) * 0.5);
}

.footer-links-div ul {
	position: absolute;
   width: 100%;
   height: 100%;
   white-space: nowrap;
   list-style: none;
}

.footer-links-div ul li {
	width: 35px;
   height: 35px;
   margin-bottom: 0px;
   margin-right: 25px;
   display: inline-block;
}

.footer-links-div ul li a {
	display: block;
	height: 100%;
}

.footer-links-div ul li a img {
	width: 35px;
	height: 35px;
	position: absolute;
	object-fit: cover;
}

.footer-text-div {
	left: 296px;
	position: absolute;
   pointer-events: none;
   top: 80px;
   margin-left: calc((100% - 980px) * 0.5);
   word-wrap: break-word;
   text-align: start;
}

.footer-text-div p {
	line-height: 1.79em;
   text-align: center;
	font: normal normal normal 14px helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
   color: #FFFFFF;
	margin: 0;
	letter-spacing: normal;
	pointer-events: auto;
}