body {
	background-color: #181818;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
	cursor: pointer;
	text-decoration: none;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

ol ul {
	list-style: none;
}

div {
	display: block;
}


h1::selection, span::selection, img::selection, p::selection, h4::selection, a::selection {
	background-color: #626262;
}


/*---------------------MAIN---------------------*/

.main {
    left: 0px;
    margin-left: 0px;
    width: 100%;
    min-width: 980px;
    position: absolute;
    top: 166px;
    height: 500px;
}

.temp1 {
    width: 100%;
    top: 166px;
    height: 500px;
}

.temp-p {
    font-size: 14px;
    color: #000000;
    font-family: roboto-bold,roboto,sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #f6f6f6;
    padding: 10px 20px;
    border: 1px solid black;
}

.p-text {
    width: 220px;

    letter-spacing: 0.03em;
    font-size: 20px;
    font-family: museo-w01-700,serif;
    color: #ffffff;
    text-align: center;
    line-height: 1.3em;

    background-color: #0E9E62;
    padding: 75px 20px;
}

.temp6 {
    left: 180.5px;
    width: 195px;
    position: absolute;
    top: 180px;
    height: 40px;
    margin-left: calc((100% - 980px) * 0.5);
}

.temp7 {
    left: 145.5px;
    width: 266px;
    position: absolute;
    pointer-events: none;
    top: 60px;
    margin-left: calc((100% - 980px) * 0.5);
    word-wrap: break-word;
    text-align: start;
}

.ti1 {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    left: 500px;
    position: absolute;
    top: 25px;
}

.ti1 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.temp8 {
    left: 570px;
    width: 195px;
    position: absolute;
    top: 60px;
    height: 40px;
    margin-left: calc((100% - 980px) * 0.5);
}

.temp9 {
    left: 605px;
    width: 195px;
    position: absolute;
    top: 180px;
    height: 40px;
    margin-left: calc((100% - 980px) * 0.5);
}

.ti2 {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    left: 930px;
    position: absolute;
    top: 25px;
}

.ti2 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.temp10 {
    left: 146px;
    width: 266px;
    position: absolute;
    pointer-events: none;
    top: 320px;
    margin-left: calc((100% - 980px) * 0.5);
    word-wrap: break-word;
    text-align: start;
}

.temp11 {
    left: 180px;
    width: 195px;
    position: absolute;
    top: 440px;
    height: 40px;
    margin-left: calc((100% - 980px) * 0.5);
}

.ti3 {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    left: 500px;
    position: absolute;
    top: 275px;
}

.ti3 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.temp12 {
    left: 570px;
    width: 195px;
    position: absolute;
    top: 320px;
    height: 40px;
    margin-left: calc((100% - 980px) * 0.5);
}

.temp13 {
    left: 605px;
    width: 195px;
    position: absolute;
    top: 440px;
    height: 40px;
    margin-left: calc((100% - 980px) * 0.5);
}

.ti4 {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    left: 930px;
    position: absolute;
    top: 275px;
}

.ti4 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


/*---------------------MAIN---------------------*/