body {
	background-color: #181818;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
	cursor: pointer;
	text-decoration: none;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

ol ul {
	list-style: none;
}

div {
	display: block;
}


h1::selection, span::selection, img::selection, p::selection, h4::selection, a::selection {
	background-color: #626262;
}


/*---------------------MAIN---------------------*/

.main {
    left: 0px;
    margin-left: 0px;
    width: 100%;
    min-width: 980px;
    position: absolute;
    top: 166px;
    height: 500px;
}

.temp1 {
    width: 100%;
    top: 166px;
    height: 500px;
}

.temp6 {
    left: 180.5px;
    width: 195px;
    position: absolute;
    top: 179.7px;
    height: 40px;
    margin-left: calc((100% - 980px) * 0.5);
}

.temp-p {
    font-size: 14px;
    color: #000000;
    font-family: roboto-bold,roboto,sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #f6f6f6;
    padding: 10px 20px;
    border: 1px solid black;
}

.temp7 {
    left: 145.5px;
    width: 266px;
    position: absolute;
    pointer-events: none;
    top: 133.7px;
    margin-left: calc((100% - 980px) * 0.5);
    word-wrap: break-word;
    text-align: start;
}

.temp7 p {
    letter-spacing: 0.03em;
    font-size: 20px;
    font-family: museo-w01-700,serif;
    color: #ffffff;
    text-align: center;
    line-height: 1.3em;
}


/*---------------------MAIN---------------------*/